@import '../../../../../.cache/wal/colors-waybar.css';

/*
    ┏┓┓ ┏┳┓  ┏┓┏┓┓ ┏┓┳┓┏┓
    ┃┃┃┃┃┃┃  ┃ ┃┃┃ ┃┃┣┫┗┓
    ┗┛┗┻┛┛┗  ┗┛┗┛┗┛┗┛┛┗┗┛
*/

/* waybar area/group colors*/
@define-color apps-bg @background;
@define-color apps @foreground;
@define-color taskbar @trans-background8;
@define-color window @trans-background6;
@define-color stat @trans-background4;

@define-color workspaces @trans-background4;

@define-color devices @trans-background5;
@define-color system @trans-background7;
@define-color clock-bg @background;
@define-color clock @foreground;

/* workspace text colors */
@define-color workspace_fg @foreground;
@define-color act_wrk_fg rgba(0, 0, 0, 1);
@define-color use_wrk_fg @color5;
/* workspace button-background colors */
@define-color workspace_bg rgba(0, 0, 0, 1.0);
@define-color act_wrk_bg @foreground;
/* taskbar button-background colors */
@define-color taskbar_bg rgba(255, 255, 255, 0.2);

@import '../style.css';

#l-clock {
border-left: 15 solid transparent;
border-bottom: 15 solid @clock-bg;
border-top: 15 solid @clock-bg;
margin-left:0;
}

#r-clock {
border-left: 15 solid @clock-bg;
border-bottom: 15 solid transparent;
border-top: 15 solid transparent;
margin-right:-15;
}

#l-apps {
border-left: 15 solid transparent;
border-bottom: 15 solid @apps-bg;
border-top: 15 solid @apps-bg;
margin-left:0;
}

#r-apps {
border-right: 15 solid transparent;
border-bottom: 15 solid @apps-bg;
border-top: 15 solid @apps-bg;
margin-right:-15;
}

#l-quicklinks {
border-left: 15 solid transparent;
border-bottom: 15 solid @quicklinks;
border-top: 15 solid @quicklinks;
margin-left:0;
}

#r-quicklinks {
border-left: 15 solid @quicklinks;
border-bottom: 15 solid transparent;
border-top: 15 solid transparent;
margin-right:-15;
}

#l-window {
border-right: 15 solid @window;
border-bottom: 15 solid transparent;
border-top: 15 solid transparent;
margin-left:-15;
}

#r-window {
border-right: 15 solid transparent;
border-bottom: 15 solid @window;
border-top: 15 solid @window;
margin-right:-15;
}

#l-workspaces {
border-right: 15 solid @workspaces;
border-bottom: 15 solid transparent;
border-top: 15 solid transparent;
margin-right:0;
}

#r-workspaces {
border-left: 15 solid @workspaces;
border-bottom: 15 solid transparent;
border-top: 15 solid transparent;
margin-right:-15;
}

#l-taskbar {
border-right: 15 solid @taskbar;
border-bottom: 15 solid transparent;
border-top: 15 solid transparent;
margin-left:-15;
}

#r-taskbar {
border-right: 15 solid transparent;
border-bottom: 15 solid @taskbar;
border-top: 15 solid @taskbar;
margin-right:-15;
}

#l-stat {
border-right: 15 solid @stat;
border-bottom: 15 solid transparent;
border-top: 15 solid transparent;
margin-left:-15;
}

#r-stat {
border-right: 15 solid transparent;
border-bottom: 15 solid @stat;
border-top: 15 solid @stat;
margin-right:0;
}

#l-devices {
border-left: 15 solid transparent;
border-bottom: 15 solid @devices;
border-top: 15 solid @devices;
margin-left:0;
}

#r-devices {
border-left: 15 solid @devices;
border-bottom: 15 solid transparent;
border-top: 15 solid transparent;
margin-right:-15;
}

#l-system {
border-left: 15 solid transparent;
border-bottom: 15 solid @system;
border-top: 15 solid @system;
margin-left:0;
}

#r-system {
border-left: 15 solid @system;
border-bottom: 15 solid transparent;
border-top: 15 solid transparent;
margin-right:-15;
}
