@import '../../../../../.cache/wal/colors-waybar.css';

/*
    ┏┓┓ ┏┳┓  ┏┓┏┓┓ ┏┓┳┓┏┓
    ┃┃┃┃┃┃┃  ┃ ┃┃┃ ┃┃┣┫┗┓
    ┗┛┗┻┛┛┗  ┗┛┗┛┗┛┗┛┛┗┗┛
*/

/* waybar area/group colors*/
@define-color apps-bg @foreground;
@define-color apps @background;
@define-color taskbar @trans-foreground8;
@define-color window @trans-foreground6;
@define-color stat @trans-foreground4;

@define-color workspaces @trans-foreground4;
@define-color textcolor @background;

@define-color devices @trans-foreground5;
@define-color system @trans-foreground7;
@define-color clock-bg @foreground;
@define-color clock @background;

/* workspace text colors */
@define-color workspace_fg @foreground;
@define-color act_wrk_fg rgba(0, 0, 0, 1);
@define-color use_wrk_fg @color5;
/* workspace button-background colors */
@define-color workspace_bg rgba(0, 0, 0, 1.0);
@define-color act_wrk_bg @foreground;
/* taskbar button-background colors */
@define-color taskbar_bg rgba(255, 255, 255, 0.2);


@import '../style.css';

#l-clock {
    border-left: 15 solid transparent;
    border-bottom: 15 solid @clock-bg;
    border-top: 15 solid @clock-bg;
    margin-left: -14px;
}

/*
#r-clock {
    border-left: 15 solid @clock-bg;
    border-bottom: 15 solid transparent;
    border-top: 15 solid transparent;
    margin-right: 0px;
}
*/

/*
#l-apps {
    border-left: 15 solid transparent;
    border-bottom: 15 solid @apps-bg;
    border-top: 15 solid @apps-bg;
    margin-left: -14px;
}
*/

#r-apps {
    border-right: 15 solid transparent;
    border-bottom: 15 solid @apps-bg;
    border-top: 15 solid @apps-bg;
    margin-right: 0px;
}

#l-quicklinks {
    border-left: 15 solid transparent;
    border-bottom: 15 solid @quicklinks;
    border-top: 15 solid @quicklinks;
    margin-left: -14px;
}

#r-quicklinks {
    border-left: 15 solid @quicklinks;
    border-bottom: 15 solid transparent;
    border-top: 15 solid transparent;
    margin-right: 0px;
}

#l-window {
    border-right: 15 solid @window;
    border-bottom: 15 solid transparent;
    border-top: 15 solid transparent;
    margin-left: -28px;
}

#r-window {
    border-right: 15 solid transparent;
    border-bottom: 15 solid @window;
    border-top: 15 solid @window;
    margin-right: 0px;
}

#l-workspaces {
    border-right: 15 solid @workspaces;
    border-bottom: 15 solid transparent;
    border-top: 15 solid transparent;
    margin-right: 0;
}

#r-workspaces {
    border-left: 15 solid @workspaces;
    border-bottom: 15 solid transparent;
    border-top: 15 solid transparent;
    margin-right: 0px;
}

#l-taskbar {
    border-right: 15 solid @taskbar;
    border-bottom: 15 solid transparent;
    border-top: 15 solid transparent;
    margin-left: -28px;
}

#r-taskbar {
    border-right: 15 solid transparent;
    border-bottom: 15 solid @taskbar;
    border-top: 15 solid @taskbar;
    margin-right: 0px;
}

#l-stat {
    border-right: 15 solid @stat;
    border-bottom: 15 solid transparent;
    border-top: 15 solid transparent;
    margin-left: -28px;
}

#r-stat {
    border-right: 15 solid transparent;
    border-bottom: 15 solid @stat;
    border-top: 15 solid @stat;
    margin-right: 0;
}

#l-devices {
    border-left: 15 solid transparent;
    border-bottom: 15 solid @devices;
    border-top: 15 solid @devices;
    margin-left: 0px;
}

#r-devices {
    border-left: 15 solid @devices;
    border-bottom: 15 solid transparent;
    border-top: 15 solid transparent;
    margin-right: 0px;
}

#l-system {
    border-left: 15 solid transparent;
    border-bottom: 15 solid @system;
    border-top: 15 solid @system;
    margin-left: -14px;
}

#r-system {
    border-left: 15 solid @system;
    border-bottom: 15 solid transparent;
    border-top: 15 solid transparent;
    margin-right: 0px;
}
