.ClipBoardEntry {
  all: unset;
  padding: 0.5rem;
  border-bottom: 1px solid $secondary;
  background-color: $surface_container;

  &:focus {
    border: none;
    border-bottom: 1px solid $primary;
    color: $primary;
  }
}

.CliphistResultBox {
  padding: 1rem;
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 5px;
  transition: background 0.6s ease;
}

.CliphistResultEventBox {
  background-color: $surface_container_high;
  border-radius: 5px;

  &:focus,
  &:hover {
    .CliphistResultBox {
      label {
        color: $on_secondary_container;
      }
      background-size: 105%;
      background-position: top;
    }
  }

}
