.ClipBoardEntry {
  all: unset;
  padding: 0.5rem;
  border-bottom: 1px solid $primary;
  background-color: lighten($background, 10%);

  &:focus {
    border: none;
    border-bottom: 1px solid $primary;
    background-color: lighten($background, 5%);
  }
}

.CliphistResultBox {
  padding: 1rem;
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 5px;
  transition: background 0.6s ease;
}

.CliphistResultEventBox {
  background-color: lighten($background, 15%);

  &:focus,
  &:hover {
    .CliphistResultBox {
      color: $primary;
      background-color: lighten($background, 5%);
      background-size: 105%;
      background-position: top;
    }
  }

  &:active {
    .CliphistResultBox {
      color: $primary;
      background-color: lighten($background, 0%);
    }
  }

}
