$theme: 'dark';
$image: url('/home/sawhill/walls/dharmx_walls/flowers/a_group_of_pink_flowers_on_a_tree.jpg');


$background: #131314;

$error: #ffb4ab;

$error_container: #93000a;

$inverse_on_surface: #303031;

$inverse_primary: #526068;

$inverse_surface: #e4e2e2;

$on_background: #e4e2e2;

$on_error: #690005;

$on_error_container: #ffdad6;

$on_primary: #243239;

$on_primary_container: #a7b6bf;

$on_primary_fixed: #0f1d24;

$on_primary_fixed_variant: #3b4950;

$on_secondary: #2c3134;

$on_secondary_container: #c6cbcf;

$on_secondary_fixed: #171c1f;

$on_secondary_fixed_variant: #42474b;

$on_surface: #e4e2e2;

$on_surface_variant: #c3c7ca;

$on_tertiary: #372d3a;

$on_tertiary_container: #bfafc0;

$on_tertiary_fixed: #221825;

$on_tertiary_fixed_variant: #4e4351;

$outline: #8d9194;

$outline_variant: #43474a;

$primary: #bac9d2;

$primary_container: #1c2a31;

$primary_fixed: #d6e5ee;

$primary_fixed_dim: #bac9d2;

$scrim: #000000;

$secondary: #c2c7cb;

$secondary_container: #42474b;

$secondary_fixed: #dee3e7;

$secondary_fixed_dim: #c2c7cb;

$shadow: #000000;

$source_color: #1c2a31;

$surface: #131314;

$surface_bright: #39393a;

$surface_container: #1f2020;

$surface_container_high: #2a2a2a;

$surface_container_highest: #343535;

$surface_container_low: #1b1c1c;

$surface_container_lowest: #0e0e0f;

$surface_dim: #131314;

$surface_variant: #43474a;

$tertiary: #d2c1d3;

$tertiary_container: #2f2532;

$tertiary_fixed: #eeddef;

$tertiary_fixed_dim: #d2c1d3;


