$theme: 'dark';
$image: url('/home/sawhill/walls/unnamed_catgory/creepy_cabin_guy.png');


$background: #131314;

$error: #ffb4ab;

$error_container: #93000a;

$inverse_on_surface: #313031;

$inverse_primary: #595e69;

$inverse_surface: #e5e2e2;

$on_background: #e5e2e2;

$on_error: #690005;

$on_error_container: #ffdad6;

$on_primary: #2c313a;

$on_primary_container: #cfd3e0;

$on_primary_fixed: #171c25;

$on_primary_fixed_variant: #424751;

$on_secondary: #2f3035;

$on_secondary_container: #cacad0;

$on_secondary_fixed: #1a1c20;

$on_secondary_fixed_variant: #45474b;

$on_surface: #e5e2e2;

$on_surface_variant: #c6c6cc;

$on_tertiary: #392d36;

$on_tertiary_container: #e1cedb;

$on_tertiary_fixed: #231821;

$on_tertiary_fixed_variant: #50434d;

$outline: #909096;

$outline_variant: #45474b;

$primary: #c2c6d3;

$primary_container: #3a3f49;

$primary_fixed: #dee2ef;

$primary_fixed_dim: #c2c6d3;

$scrim: #000000;

$secondary: #c6c6cb;

$secondary_container: #45474b;

$secondary_fixed: #e2e2e7;

$secondary_fixed_dim: #c6c6cb;

$shadow: #000000;

$source_color: #3a3f49;

$surface: #131314;

$surface_bright: #39393a;

$surface_container: #201f20;

$surface_container_high: #2a2a2a;

$surface_container_highest: #353435;

$surface_container_low: #1c1b1c;

$surface_container_lowest: #0e0e0f;

$surface_dim: #131314;

$surface_variant: #45474b;

$tertiary: #d4c1ce;

$tertiary_container: #483b45;

$tertiary_fixed: #f1ddea;

$tertiary_fixed_dim: #d4c1ce;


