

$bg0: #060606;

$bg1: #1F1F1F;
$bg2: #383838;
$bg3: #515151;

$fg: #FDF6ED;

$accent0: #803A3E;
$onAccent0: #803A3E;
$accent0darker: #4D2325;

$accent1: #A5363A;
$onAccent1: #A5363A;
$accent2: #3B5E82;
$accent3: #97503B;
$accent3darker: #7E4232;
