.MediaBox {
    background-color: alpha(@color1, .4);
    border-radius: 5px;
}

.MediaBox.Hidden {
    padding: 0px;
    border: none;
    outline: none;
    min-height: 0px;
    min-width: 0px;
    margin: 0px;
}

.MediaBoxFooter {
    padding: 12px;
    border-radius: 0 0 5px 5px;
}

.MediaBoxFooterButton {
    background-color: alpha(@color1, .2);
    border-radius: 4px;
    padding: 8px 0px;
}

.MediaBoxFooter>.MediaBoxFooterButton+.MediaBoxFooterButton {
    margin-left: 10px;
}

.MediaBoxFooterIcon {
    color: @foreground;
    font-size: 20px;
}

.MediaPlayerBackgroundBox {
    background-color: transparent;
    border-radius: 5px;
}

.MediaPlayer {
    background-color: alpha(@background, .6);
    background-image: linear-gradient(90deg,
            alpha(@color1, .6) 0%,
            alpha(@background, .4) 100%);
    border-radius: 5px;
    padding: 10px;
}

.MediaPlayerImage {
    border: 1px solid @foreground;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 5px;
    margin-right: 10px;
}

.MediaPlayerTitle {
    color: @foreground;
    font-size: 18px;
    font-weight: bold;
}

.MediaPlayerArtist {
    color: @foreground;
    font-size: 12px;
}

.MediaPlayerSlider {
    padding: 10px 0;
}

.MediaPlayerSliderLabelTimeElapsed {
    color: @foreground;
    font-size: 16px;
}

.MediaPlayerSliderLabelTotalTime {
    color: @foreground;
    font-size: 16px;
}

.MediaPlayerIcon {
    color: @foreground;
    font-size: 20px;
}

.MediaPlayerPlayPauseButton,
.MediaPlayerNextButton,
.MediaPlayerPrevButton,
.MediaPlayerLoopButton,
.MediaPlayerShuffleButton {
    background-color: transparent;
    border: none;
    padding: 0px;
    margin: 0 4px;
}

.MediaPlayerShuffleButton,
.MediaPlayerLoopButton.None,
.MediaPlayerLoopButton {
    color: alpha(@foreground, .5);
}

.MediaPlayerShuffleButton.null,
.MediaPlayerLoopButton.null {
    color: alpha(@foreground, .2);
}

.MediaPlayerShuffleButton.true {
    color: @foreground;
}

.MediaPlayerLoopButton.Track {
    color: @foreground;
}

.MediaPlayerLoopButton.Playlist {
    color: green;
}

/* Trough refers to line in which the leverbar or slider flows

UnderScore(_) is the box containing the leverbar or slider offically called the contents
Hyphens (-) are the Trough  (the part in which the activer region called highlight slides)
Greater Than(>) Refers to the highlight (the active region which shows the level)
The NOB here refers to the button which you hold to change val offically referred as slider
.....................
_____________________
---------------------
>>>>>>>>>>NOB--------
---------------------
_____________________
.....................

In short: 
...... is the scale
_____ is the contents
----- is the trough
>>>>> is the highlight
NOB   is the slider
*/

/*
.MediaBox scale {
    margin: 0 10px;
}
*/

/*levelbar block,*/
.MediaBox highlight {
    min-height: 10px;
    background: alpha(@foreground, .6);
}

.MediaBox trough {
    background-color: alpha(@color1, .6);
    border-radius: 2px;
    padding: 2px 0;
}

.MediaBox slider {
    background-color: @foreground;
    border-radius: 4px;
    min-height: 0px;
    padding: 0 4px;
}

/*
levelbar block.empty {
    background-color: transparent;
    background-color: red;
}

levelbar block.filled {
    background-color: @primary;
    border-radius: 2px;
}
*/
