/* -----------------------------------------------------
 * Import Pywal colors 
 * ----------------------------------------------------- */
/* @import 'style-light.css'; */

/* -----------------------------------------------------
 * General 
 * ----------------------------------------------------- */

* {
    font-family: "Fira Sans Semibold", FontAwesome, Roboto, Helvetica, Arial, sans-serif;
    border: none;
    border-radius: 0px;
}

window#waybar {
    background-color: rgba(0,0,0,0.2);
    /* color: #FFFFFF; */
    transition-property: background-color;
    transition-duration: .5s;
    transition: all 0.5s ease;
}

/* -----------------------------------------------------
 * Workspaces 
 * ----------------------------------------------------- */

#workspaces {
    background:  linear-gradient(to right,@backgrounddark,@backgroundlight,@backgrounddark);
    margin: 0px 1px 6px 1px;
    padding: 0px 10px;
    border: 0px;
    font-weight: bold;
    font-style: normal;
    font-size: 16px;
    color: @textcolor1;
    border-radius: 0 0 15px 15px;
}

#workspaces button {
    padding: 0px 6px;
    margin: 2px 3px 2px 3px;
    border-radius: 0px;
    color: @textcolor1;
    background-color: @workspacesbackground2;
    transition: all 0.3s ease-in-out;
    opacity: 0.6;
    min-width: 12px;
}

#workspaces button.active {
    color: @textcolor1;
    background: transparent;
    min-width: 40px;
    transition: all 0.3s ease-in-out;
    opacity:1.0;
    border-radius: 0px;
}

#workspaces button:hover {
    color: @textcolor1;
    background: @workspacesbackground2;
    opacity:0.7;
    border-radius: 0 0 15px 15px;
    margin-top: 0;
}

/* -----------------------------------------------------
 * Tooltips
 * ----------------------------------------------------- */

tooltip {
    border-radius: 0px;;
    background-color: @backgrounddark;
    opacity:0.8;
    padding:10px;
    margin: 15px;
}

tooltip label {
    color: @textcolor2;
}

/* -----------------------------------------------------
 * Window
 * ----------------------------------------------------- */

#window {
    background: transparent;
    margin: 0px 1px 12px 1px;
    padding: 2px 10px 0px 10px;
    border-radius: 0px;;
    color:@textcolor2;
    font-size:16px;
    font-weight:normal;
    opacity:0.8;
    border-radius: 0px;
}

window#waybar.empty #window {
    background-color: transparent;
    margin: 1px;
    padding:0px;
    min-width:0px;
}


/* -----------------------------------------------------
 * Hardware Group
 * ----------------------------------------------------- */

#disk,#memory,#cpu {
    margin:0px 0px 12px 0px;
    padding:0px;
    font-size:16px;
    color:@iconcolor;
    background: transparent;
}

#memory{
    padding-right: 8px;
}

#disk{
    padding-left: 8px;
}

/* -----------------------------------------------------
 * Taskbar
 * ----------------------------------------------------- */

#taskbar {
    background: transparent;
    margin: 0px 0px 12px 0px;
    padding:0px 5px;
    border-radius: 0px;
    font-weight: normal;
    font-style: normal;
    opacity:0.8;
    border-radius: 0px;
}

#taskbar button {
    margin:0;
    border-radius: 0px;
    padding: 0px 5px 0px 5px;
}

/* -----------------------------------------------------
 * Modules
 * ----------------------------------------------------- */

.modules-left > widget:first-child > #workspaces {
    margin-left: 0;
}

.modules-right > widget:last-child > #workspaces {
    margin-right: 0;
}

#custom-wallpaper, #custom-keybindings {
    margin-right:15px;
}

#custom-waybarthemes {
    margin-right:15px;
}
/* -----------------------------------------------------
 * Custom Modules
 * ----------------------------------------------------- */

#custom-appmenu {
    background-color: @backgrounddark;
    font-size: 16px;
    color: @textcolor1;
    border-radius: 0px;;
    padding: 0px 10px 0px 10px;
    margin: 0px;
    border:3px solid @bordercolor;
    border-radius: 0px 0px 15px 0px;
}


/* -----------------------------------------------------
 * Clock
 * ----------------------------------------------------- */

#clock {
    background-color: @backgrounddark;
    font-size: 16px;
    color: @textcolor1;
    border-radius: 0px;;
    padding: 1px 10px 0px 10px;
    margin: 0px 0px 0px 0px;
    border:3px solid @bordercolor;
    border-radius: 0px 0px 0px 15px;
}

/* -----------------------------------------------------
 * Pulseaudio
 * ----------------------------------------------------- */

#pulseaudio, #backlight {
    background-color: transparent;
    font-size: 16px;
    color: @textcolor2;
    border-radius: 0px;;
    padding: 2px 10px 0px 10px;
    margin: 0px 0px 5px 0px;
    opacity:0.8;
    border-radius: 0px;
}

#backlight {
    margin: 0px 1px 5px 1px;
    border-radius: 0px;
}

#pulseaudio.muted {
    background-color: transparent;
    color: @textcolor1;
}

/* -----------------------------------------------------
 * Network
 * ----------------------------------------------------- */

#network {
    background-color: transparent;
    font-size: 16px;
    color: @textcolor2;
    padding: 2px 10px 0px 10px;
    margin: 0px 2px 5px 0px;
    opacity:0.8;
    border-radius: 0px 0px 0px 15px;
}

#network.ethernet {
    background-color: transparent;
    color: @textcolor2;
}

#network.wifi {
    background-color: transparent;
    color: @textcolor2;
}

/* -----------------------------------------------------
 * Bluetooth
 * ----------------------------------------------------- */

 #bluetooth, #bluetooth.on, #bluetooth.connected {
    background-color: transparent;
    font-size: 16px;
    color: @textcolor2;
    padding: 2px 10px 0px 10px;
    margin: 0px 15px 5px 0px;
    opacity:0.8;
    border-radius: 0px 0px 15px 0px;
}

#bluetooth.off {
    background-color: transparent;
    padding: 0px;
    margin: 0px;
}

/* -----------------------------------------------------
 * Battery
 * ----------------------------------------------------- */

#battery {
    background-color: transparent;
    font-size: 16px;
    color: @textcolor2;
    padding: 2px 15px 0px 10px;
    margin: 0px 0px 5px 0px;
    opacity:0.8;
    border-radius: 0px;
}

#battery.charging, #battery.plugged {
    color: @textcolor2;
    background-color: transparent;
}

@keyframes blink {
    to {
        background-color: @backgroundlight;
        color: @textcolor2;
    }
}

#battery.critical:not(.charging) {
    background-color: #f53c3c;
    color: @textcolor3;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

/* -----------------------------------------------------
 * Tray
 * ----------------------------------------------------- */

#tray {
    background-color: transparent;
    margin: 0px 1px 12px 0px;
    padding: 2px 8px;
    border-radius: 0px;
}

#tray > .passive {
    -gtk-icon-effect: dim;
}

#tray > .needs-attention {
    -gtk-icon-effect: highlight;
    background-color: #eb4d4b;
}

/* -----------------------------------------------------
 * Other
 * ----------------------------------------------------- */

label:focus {
    background-color: #000000;
}

#network {
    background-color: #2980b9;
}

#network.disconnected {
    background-color: #f53c3c;
}

/* -----------------------------------------------------
 * Custom Exit & Clipboard
 * ----------------------------------------------------- */

#custom-exit, 
#custom-cliphist,
#custom-wallpaper,
#custom-waybarthemes {
    margin: 0px 0px 12px 0px;
    padding: 0px 10px 0px 10px;
    font-size:20px;
    color: @iconcolor;
    background-color: transparent;
    font-weight: bold;
    opacity: 0.8;
}

#disk,#memory,#cpu {
    opacity: 0.8;
}

#custom-exit{
    margin-right:0px;
    padding-right: 15px;
    border-radius: 0px; 
}
#custom-cliphist{
    margin-left:1px;
    padding-left: 5px;
    border-radius: 0px;
}

#network,#bluetooth,#pulseaudio,#battery,#backlight{
    margin-bottom:12px;
}

.modules-right{
    background:  linear-gradient(to right,@backgroundlight,@backgrounddark);
    background-size: 100% 26px;
    background-clip: content-box;
    background-repeat: no-repeat;
    background-position: top right;
    border-radius: 0 0 0 65px;
}

.modules-left{
    background:  linear-gradient(to left,@backgroundlight,@backgrounddark);
    background-size: 100% 26px;
    background-clip: content-box;
    background-repeat: no-repeat;
    background-position: 100% 0%;
    border-radius: 0 0 65px 0;
}

