.MicroPhoneMainBox {
    background-color: alpha(@color1, .2);
    border-radius: 4px;
}

.MicroPhoneBox {
    background-color: alpha(@color1, .4);
    padding: 12px;
    border-radius: 4px;
}

.MicroPhoneBox.Muted,
.MicroPhoneStreamBox.Muted {
    background-color: alpha(@color1, .2);
}

/*.MicroPhoneRevealer {}*/

.MicroPhoneRevealerBox {
    padding: 12px;
    background-color: alpha(@color1, .4);
    background-color: transparent;
    color: @foreground;
    border-radius: 4px;
}

.MicroPhoneStreamBox {
    background-color: alpha(@color1, .4);
    color: @foreground;
    padding: 10px;
    margin: 5px 0;
    border-radius: 4px;
}

/* Trough refers to line in which the leverbar or slider flows

UnderScore(_) is the box containing the leverbar or slider offically called the contents
Hyphens (-) are the Trough  (the part in which the activer region called highlight slides)
Greater Than(>) Refers to the highlight (the active region which shows the level)
The NOB here refers to the button which you hold to change val offically referred as slider
..................... is the scale
_____________________ is the contents
--------------------- is the trough
>>>>>>>>>>NOB-------- >> is the highlight and the NOB is the slider
--------------------- is the trough
_____________________ is the contents
..................... is the scale
*/

.MicroPhoneMainBox scale {
    margin: 0 10px;
}

/*levelbar block,*/
.MicroPhoneMainBox highlight {
    min-height: 10px;
    background: alpha(@foreground, .6);
}

.MicroPhoneMainBox.Muted highlight {
    background: alpha(@foreground, .4);
}

.MicroPhoneMainBox trough {
    background-color: alpha(@color1, .6);
    border-radius: 2px;
    padding: 2px 0;
}

.MicroPhoneMainBox.Muted trough {
    background-color: alpha(@color1, .4);
}

.MicroPhoneMainBox slider {
    background-color: @foreground;
    border-radius: 4px;
    min-height: 0px;
    padding: 0 4px;
}

.MicroPhoneMainBox.Muted slider {
    background-color: @color1;
}

/*
levelbar block.empty {
    background-color: transparent;
    background-color: red;
}

levelbar block.filled {
    background-color: @primary;
    border-radius: 2px;
}
*/
