@import '../scss/colors';
@import '../scss/common';

* {
  all: unset;
  font-family: "CaskaydiaCove Nerd Font";
}

window {
  background: transparent;
}


@keyframes zoomout {
  from {
    background-size: 110%;
  }

  to {
    background-size: 102%;
  }
}

.LockWindowBackgroundBox {
  //animation-name: zoomout;
  //animation-duration: 4.0s;
  //animation-timing-function: linear;
  //animation-iteration-count: 1;
  //animation-direction: normal;
  //background-size: 102%;
  background-size: cover;
  background-image: $image;
  background-repeat: no-repeat;
  background-position: center;
}

/*.OverlayRevealerBox { }*/

.OverlayRevealerBoxChildren {
  background-color: rgba($background, 0.8);
  padding: 20px;
  border-radius: 10px;
}

/*.LoginBox {}*/

@keyframes glide {
  from {
    background-position: 50% 45%;
  }

  to {
    background-position: 50% 50%;
  }
}

.LoginAvatarBox {
  animation-name: glide;
  animation-duration: 2.0s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 5px;
}

.LoginEntry {
  all: unset;
  padding: 15px;
  background-color: rgba($background, 0.5);
  border: 2px solid $primary;
  border-radius: 5px;
}

@keyframes shake {
  from {
    margin-left: 0;
    margin-right: 10px;
  }

  to {
    margin-left: 10px;
    margin-right: 0px;
  }
}

.Failed {
  animation-name: shake;
  animation-duration: 0.05s;
  animation-timing-function: linear;
  animation-iteration-count: 8;
  animation-direction: alternate;

  .LoginEntry {
    border: 2px solid $error;
    border-radius: 5px 5px 0 0 ;
  }

  .LoginStatusLabel {
    background-color: $error;
    color: $on_error;
  }
}

.LoginStatusLabel {
  padding: 10px;
  border-radius: 0 0 5px 5px;
  background-color: rgba($background, 0.9);
}

.tooltip {
  background-color: $surface;
  color: $on_surface;
  padding: 0 0 8px 8px;
}

.clock-container {
  background-color: $surface;
  padding-right: 8px;
}

.clock-container .clock-date {
  font-size: 0.6rem;
  color: $primary;
}

.clock-container .clock-time {
  font-size: 0.7rem;
}

.session-button {
  background-color: $surface;
  color: $primary;
  padding: 0px 8px;
}

.corner {
  background-color: $surface;
  font-size: 1rem;
}

.angle {
  background-color: $surface;
}

.corner-container {
  background-color: $surface;
  border-top-right-radius: 1rem;
  min-width: 2rem;
  min-height: 2rem;
}

.music-player-icon {
  font-size: 1.8rem;
  margin: 0.5rem;
}

.mpris-list-container {
  min-width: 25rem;
  padding: 0.5rem;
}

.music-container {

  background-color: $surface;
  border-radius: 1rem;
  padding: 1rem;
  margin-top: 5px;
  min-height: 10rem;

  .music-player-icon {
    font-size: 1.6rem;
    padding-right: 8px
  }

  .music-player-name {
    text-shadow: 0.1rem 0.1rem $surface;
  }

  .music-artist {
    text-shadow: 0.1rem 0.1rem $surface;
    padding-top: 5px;
  }

  .music-title {
    font-weight: bold;
    text-shadow: 0.1rem 0.1rem $surface;
    padding-top: 5px;
  }

  .music-control-box {
    padding-top: 1.5rem;

    .music-button {
      font-size: 1.6rem;
      -gtk-icon-shadow: 0.1rem 0.1rem $surface;
    }

    .music-progress {
      font-size: 3px;
      min-width: 40px;
      min-height: 40px;
    }
  }
}
