.WallPickerWindow {
    background-color: transparent;
}

.WallPickerWindowBox {
    /* is needed to keep minimin hight */
    border: 1px solid transparent;
}

.WallPickerRevealerBox {
    border: 1px solid @foreground;
    border-radius: 0 0 10px 0;
    padding: 10px;
    background-color: alpha(@background, 0.8);
}

.WallPickerBox {
    background-color: alpha(@color1, 0.8);
    border: 1px solid @foreground;
    padding: 10px;
}

.WallPickerScrollable {
    background-color: alpha(@background, 0.6);
    padding: 10px;
    border-radius: 5px;
}

/* kinda same as the .WallPickerScrollable as it is a child of it 
.WallPickerList {
    border-radius: 5px;
}
*/


.WallPickerEntry {
    padding: 10px;
    background-color: alpha(@background, 0.6);
    color: @foreground;
    font-size: 1.2em;
}


.WallItemButton,
.CalcResultButton,
.FileResultButton {
    background-color: alpha(@background, 0.6);
    border-radius: 5px;
    padding: 10px;
}

.WallItemButton:hover,
.CalcResultButton:hover,
.FileResultButton:hover {
    border: 1px solid alpha(@foreground, 0.8);
}

.WallItemButton:focus,
.CalcResultButton:focus,
.FileResultButton:focus {
    background-color: alpha(@foreground, 0.4);
}

/* kinda same as the .WallItemButton as it is a child of it
.WallItemBox,
.CalcResultBox
{}
*/

.WallItemIcon {
    border-radius: 5px;
}

.WallItemLabel {
    color: @foreground;
    font-weight: bold;
}
