/* define color variables */
@define-color bg alpha(@background, 0.8);
@define-color box_bg alpha(@color1, 0.4);
@define-color text @foreground;
@define-color text-invert @background;


* {
    transition: all 0.2s ease-in-out;
}

window.BarWindow {
    background-color: @bg;
    color: @text;
    border: 2px solid @foreground;
    border-radius: 0px;
}

.BarMainCenterBox {
    padding: 5px;
    border-radius: 5px;
}

.BarLeftBox,
.BarCenterbox,
.BarRightBox {}

.BarWorkspaces {
    background-color: @box_bg;
    padding: 0 8px;
}

.BarWorkspaces button {
    border-radius: 4px;
    margin: 6px 4px;
    padding: 2px 4px;
    color: alpha(@text, 0.4);
    background-color: alpha(@background, 0.8);
}

.BarWorkspaces button.BarHasWindow {
    color: alpha(@text, 0.8);
    border-bottom: 1px solid @foreground;
}

.BarWorkspaces button.BarActiveWorkspace {
    background-color: @foreground;
    color: @text-invert;
}

.BarWorkspaces button:hover {
    background-color: alpha(@foreground, 0.8);
    color: @text-invert;
}

.BarMediaButton,
.BarWindowTitleLabel,
.BarNetworkSpeedLabel,
.BarSysTrayBox,
.BarAppTrayBox,
.BarWifiBox,
.BarBrightnessBox,
.BarVolumeBox,
.BarBatteryNormal,
.BarBatteryCritical,
.BarBatteryFull,
.BarClockLabel,
.BarControlCenterBox,
.BarAppLauncherToggleBox {
    background-color: @box_bg;
    padding: 0 10px;
    border-radius: 4px;
}

.BarSysTrayBox {
    padding: 0 0px;
}

.BarAppTrayBox {
    padding: 2px 10px;
}

.BarAppTrayButton {
    padding: 4px 8px;
    font-size: 18px;
    background: alpha(@background, 0.2);
    border-radius: 5px;
    margin: 2px 4px;
}

.BarAppTrayButton.Active {
    background: alpha(@background, 0.6);
}

.BarSysTrayButton {
    background-color: transparent;
    border: none;
    margin: 0 5px;
}

.BarBatteryNormal.Full {
    background-color: alpha(@foreground, 0.8);
    color: @text-invert;
}

.BarBatteryNormal.Full .BarBatteryIcon,
.BarBatteryNormal.Full .BarBatteryLabel {
    color: @text-invert;
}

@keyframes blink {
    to {
        color: @text;
    }
}

.BarBatteryNormal .BarBatteryIcon,
.BarBatteryNormal .BarBatteryLabel {
    color: @text;
}

.BarBatteryNormal.Critical .BarBatteryIcon,
.BarBatteryNormal.Critical .BarBatteryLabel {
    color: #f53c3c;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

.BarClockLabel {
    min-width: 85px;
}
