@import '../../../../.cache/wal/colors-waybar.css';

window {
    background: transparent;
}

.LockWindowBackgroundGradientBox {
    padding: 20px 20px 0 20px;
    background-image: linear-gradient(to bottom,
            @foreground 5%,
            @background 95%);
}

.corner {
    background-color: @foreground;
}

.OverlayRevealerBox {
    background-color: alpha(@background, 0.5);
    padding: 20px;
}

.OverlayRevealerBoxChildren {
    /*    border: 1px solid @foreground;
    border-bottom: none;
    border-radius: 15px 15px 15px 0;
    padding: 20px;
    */
}

.LoginBox {}

.LoginEntry {
    padding: 15px;
    background-color: alpha(@background, 0.5);
    border: 1px solid @foreground;
}
