@mixin keyframes($name) {
  @keyframes #{$name} {
    @content;
  }
}

@mixin animate($animation, $duration, $method, $times, $direction) {
  animation-name: $animation;
  animation-duration: $duration;
  animation-timing-function: $method;
  animation-iteration-count: $times;
  animation-direction: $direction;
}

.Battery {
  background: $surface;
}

.Battery.Critical {
  .BatteryLabel {

    @include keyframes(blink) {
      to {
        color: $error;
      }
    }

    @include animate(blink, 1s, linear, infinite, alternate);
  }

  .BatteryIcon {

    @include keyframes(blink) {
      to {
        color: $error;
      }
    }

    @include animate(blink, 1s, linear, infinite, alternate);
  }

}

.Battery.Full {
  color: $on_primary;
}

.BatteryLabel {
  font-size: 0.9rem;
  color: $primary;
}
