.wallSelectorBox {
  .wallSelectorEntry {
    all: unset;
    padding: 0.5rem;
    border-bottom: 1px solid $secondary;
    background-color: $surface_container;

    &:focus {
      border: none;
      border-bottom: 1px solid $primary;
      color: $primary;
    }

  }

  .wallSelectorStatsBox {
    label {
      color: $primary;
    }
  }
}



.WallButton {
  .WallBox {
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 5px;
    transition: background 0.6s ease;

    .WallLabel {
      color: $on_surface;
      padding: 0.5rem;
      background-color: $surface_container;
      border-radius: 15px 15px 0 0;
      transition: all 0.6s ease;
    }

  }

  background-color: $surface_container;

  &:focus,
  &:hover {
    .WallBox {
      background-color: lighten($background, 5%);
      background-size: 105%;
      background-position: top;
    }

    .WallLabel {
      color: $primary;
    }
  }

}
